
/* CSS variables */
:root {
    --primary: #818D92; /* Light slate gray */
    --secondary: #586A6A; /* Deep space sparkle */
    --tertiary: #B9A394; /* Grullo */
    --quartenary: #D4C5C7; /* Pale silver */
    --quinary: #DAD4EF; /* Languid lavender */
}

/* styling general elements */
* {
  margin: 0;
    /* background-color: var(--primary); */
}

header {
    display: flex;
    justify-content: space-around;
    background-color: var(--quinary);
    padding: 20px;
}

/* styling general elements */

nav .menu {
    padding-left: 0;
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
}

nav .menu li {
    display:inline-block;
    padding: 0px 10px;
}

.menu a {
    text-decoration: none;
    color: var(--secondary)
}

nav .menu li a:hover {
    color: var(--tertiary);
    transition: 0.3s;
}


/* styling ids */
